.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  font-weight: normal;
}
.Home h1{
  font-weight: 300;
}
.Home .links {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.Home .links a {
  color: #efefef;
    background-color: #006351;
    padding: 1rem 1rem;
    text-decoration: auto;
    text-transform: uppercase;
}
