.quiz-wrapper {
  display: flex;
  width: fit-content;

  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid grey;
}
@media screen and (max-width: 600px) {
  .quiz-wrapper {
    padding: 0;
    border: none;
  }
}
