* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}
.MuiOutlinedInput-notchedOutline {
  border-color: rgb(255 255 255) !important;
}

.MuiOutlinedInput-input {
  padding: 1rem !important;

  color: white !important;
}
.MuiOutlinedInput-root {
  margin: 1rem !important;
}
