.Login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 600px;
  text-align: center;
  margin: auto;
}
.Login h1 {
  font-weight: 300;
}
.Login form {
    width: fit-content;
    margin: 0 auto;
}
.Login button{
    width: -webkit-fill-available;
    margin: 1rem;
    padding: 1rem;
    font-size: large;
    color: #006351;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #EEEBDD;
}

.Login p a{
    
        color: #006351;
        font-weight: bold;
        text-decoration: none;
    
}
